h1 {
  color: blue;
}

body {
  background-color: white;
}


.style_one {
  color: blue;
}

.style_two {
  color: green;
}

.style_one .style_two {
  color: #23B8B8;
}


.style_one.style_two {
  color: #DC2A8F;
}